


.apps{
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 1rem;
    padding: 2rem;
}

.apps__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 7rem 0 7rem;
    gap: 5rem;
}

.apps__container{
    display:flex;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.apps__header{
    display: flex;
    flex-direction: column;
}

.apps__content{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
}

.apps__image{
    display: flex;
    object-fit: contain;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

.apps__title{
    font-family: BakbakOneRegular;
    font-size: 4rem;
    color: var(--azul-100);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
    @media screen and (min-width: 318px) and (max-width: 572px) { 
        .apps__title{
            font-size: 2rem;
        }
    }

.apps__mini-title{
    font-family: BakbakOneRegular;
    font-size: 1.5rem;
    color: var(--purpura);
    text-transform: uppercase;
    letter-spacing: 0;
    background: linear-gradient(-45deg, #292345, #674ed7, #7f4890, #9639b2);
	background-size: 300%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}
    @media screen and (min-width: 318px) and (max-width: 395px) { 
        .apps__mini-title{
            font-size: 1rem;
        }
    }

.apps__mini-title::after{
   /* background-color: var(--purpura);*/
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 30%;
    margin-left: 1rem;

    background: linear-gradient(-45deg, #292345, #674ed7, #7f4890, #9639b2);
	background-size: 300%;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

.apps__img{
    width: 100%;
}

.apps__text{
    font-family: GothamMedium;
    color: white;
    text-align: justify;
    line-height: 1.5rem;
}
    @media screen and (min-width: 573px) and (max-width: 800px) { 
        .apps__text{
            line-height: 1rem;
        }
    }
    @media screen and (min-width: 318px) and (max-width: 572px) { 
        .apps__text{
            line-height: 1rem;
            font-size:1rem;
        }
    }

@keyframes animated_text {
	0% { background-position: 0px 50%;  }
	50% { background-position: 100% 50%; text-shadow: 0 0 40px #4b2adf }
	100% { background-position: 0px 50%;  }
}
