/*
|   ---------------------------------------------------------------------------------
|   @Layouts (OtrosServicios)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all layouts (one file per layout) that you will use for your pages 
|   like containers, boxes, sections, etc...
|
*/


.otros-servicios{
    display: flex;
    width: 100%;
    height: max-content;
    margin-top: 1rem;
    padding: 2rem;
}
    @media screen and (min-width: 318px) and (max-width:700px) {
        .otros-servicios{
            padding: 1rem;
        }
    }
    @media screen and (min-width: 318px) and (max-width:730px) {
        .otros-servicios{
            justify-content: center;
        }

    }

.otros-servicios__row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 7rem 0 7rem;
    gap: 5rem;
}
    @media screen and (min-width: 891px) and (max-width:1080px) {
        .otros-servicios__row{
            gap: 3rem;
            padding: 0 5rem 0 5rem;
        }
    }
    @media screen and (min-width: 801px) and (max-width:890px) {
        .otros-servicios__row{
            gap: 3rem;
            padding: 0 ;
            justify-content: space-between;
        }
    }
    @media screen and (min-width: 620px) and (max-width:800px) {
        .otros-servicios__row{
            gap: 1rem;
            padding: 0 ;
        }
    }
    @media screen and (min-width: 318px) and (max-width:730px) {
        .otros-servicios__row{
            display: none;
        }
    }

.otros-servicios__card{
    display:flex;
    width: 25%;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
    @media screen and (min-width: 318px) and (max-width:800px) {
        .otros-servicios__card{
            height: fit-content;
        }
    }
    @media screen and (min-width: 318px) and (max-width:730px) {
        .otros-servicios__card{
            width: 50%;
           height: 20rem;
        }
    }

.otros-servicios__card-body{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    height: 80%;
}

.otros-servicios__card-body img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*
.otros-servicios__img--100{
    width: 100%;
}

.otros-servicios__img--90{
    width: 90%;
}*/

.otros-servicios__card-footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: BakbakOneRegular;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 2rem;
    flex-direction: column;
    height: 20%;
    
}

.otros-servicios__card-footer p{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0;
    background: linear-gradient(-45deg, #d9d8d8, #c4c3c5, #b0adb0, #747474);
	background-size: 300%;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text_gray 10s ease-in-out infinite;
	-moz-animation: animated_text_gray 10s ease-in-out infinite;
	-webkit-animation: animated_text_gray 10s ease-in-out infinite;
}

@keyframes animated_text_gray {
	0% { background-position: 0px 50%;  }
	50% { background-position: 100% 50%; text-shadow: 0 0 40px #ffffff }
	100% { background-position: 0px 50%;  }
}


#slider_otros{
    display: none;
}
    @media screen and (min-width: 318px) and (max-width:730px) {
        #slider_otros{
            display: inline;
        }
    }