


<div class="apps mb100" id="apps">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__fadeInUp animate__delay-1s" id="apps-header">
                    <h2 class="apps__mini-title ">Desarrollo de</h2>
                    <h2 class="apps__title ">Apps Móviles</h2>
                </div>
                <p class="apps__text">
                    La tecnología abre nuevas oportunidades de potencias tu negocio por medio de las aplicaciones moviles.
                </p>
                <p class="apps__text">
                    Al desarrollar una app para tu negocio, no solo estrás consiguiendo fortalecer tu marca sino que tambien estarás abriendo un nuevo canal de venta.
                </p>
                <p class="apps__text">
                    Tu empresa se destacará de la competencia al tener una aplicación móvil mediente la cual tus usuarios puedan interactuar contigo.
                </p>
            </div>
        </div>
        <div class="apps__container">
            <div class="apps__image">
                <img src="assets/img/apps.png" alt="apps" class="apps__img">}
            <button class="buttons__proyectos color-3 impulse fullscreen-open " id="btnProyectos">VER PROYECTOS</button>
            </div>
        </div>
        
    </div>

</div>