
<style>

    .mt10{
        margin-top: 100%;
    }

</style>

<div class="apps mb100" id="contacto" style="display: none;">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__fadeInUp animate__delay-1s ">
                    <h2 class="apps__mini-title ">Contacto</h2>
                    <h2 class="apps__title ">Trabajemos juntos</h2>
                </div>
                <p class="apps__text">
                    <i class="fa-solid fa-phone"></i> <a href="tel:8717134025" class="apps__link">(871) 713 4025</a> 
                </p>
                <p class="apps__text">
                    <i class="fa-solid fa-envelope"></i>  <a href="mailto:info@awsoftware.com" class="apps__link">info@awsoftware.com</a>
                </p>
                <p class="apps__text">
                    <i class="fa-solid fa-location-dot"></i> Torreón Coah. México
                </p>
            </div>
        </div>
        <div class="apps__container">
            <div class="apps__image">
                <img src="assets/img/apps.png" alt="apps" class="apps__img">}
            </div>
        </div>
        
    </div>

</div>