


<div class="apps mb100 " id="nosotros">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__fadeInUp animate__delay-1s" id="nosotros-header">
                    <h2 class="apps__mini-title ">Acerca de</h2>
                    <h2 class="apps__title ">Nosotros</h2>
                </div>
                <p class="apps__text">
                    Somos una empresa lagunera con una amplia experiencia en el área de desarrollo de aplicaciones móviles, software, realidad virtual, páginas web, tiendas en línea hospedaje web, diseño gráfico, marketing y publicidad.
                </p>
                <p class="apps__text">
                    Soluciones integrales que tu empresa necesita.
                </p>
            </div>
            <h2 class="apps__subtitle ">Algunos de nuestros clientes</h2>
            <div class="grid">
                <div class="animate__animated animate__fadeInUp animate__delay-1s"><img src="assets/img/combugas_logo.png" alt="Combugas" title="Combugas"></div>
                <div class="animate__animated animate__fadeInUp "><img src="assets/img/nissan_logo.png" alt="Nissan" title="Nissan"></div>
                <div class="animate__animated animate__fadeInUp animate__delay-2s"><img src="assets/img/logo-telcel.png" alt="Telcel" title="Telcel" ></div>
                <div class="animate__animated animate__fadeInUp animate__delay-4s"><img src="assets/img/lala.png" alt="Lala" title="Lala"></div>
                <div class="animate__animated animate__fadeInUp animate__delay-3s"><img src="assets/img/logotipo_matamoros.png" alt="Matamoros" title="Matamoros"></div>
                <div class="animate__animated animate__fadeInUp animate__delay-5s"><img src="assets/img/acuario.png" alt="Acuario" title="Acuario"></div>
                <div class="animate__animated animate__fadeInUp animate__delay-2s"><img src="assets/img/logotipo-mandarinas.png" alt="Mandarinas" title="Mandarinas"></div>
            </div>
        </div>
        <div class="apps__container" id="apps__image">
            <div class="apps__image">
                <img src="assets/img/nosotros.png" alt="nosotros" class="apps__img">}
            </div>
        </div>
        
    </div>

</div>