


<div class="apps mb100 " id="nosotros">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__fadeInUp animate__delay-1s" id="nosotros-header">
                    <h2 class="apps__mini-title ">Acerca de</h2>
                    <h2 class="apps__title ">Nosotros</h2>
                </div>
                <p class="apps__text">
                    Somos una empresa lagunera con una amplia experiencia en el área de desarrollo de aplicaciones móviles, software, realidad virtual, páginas web, tiendas en línea hospedaje web, diseño gráfico, marketing y publicidad.
                </p>
                <p class="apps__text">
                    Soluciones integrales que tu empresa necesita...
                </p>
            </div>
        </div>
        <div class="apps__container" id="apps__image">
            <div class="apps__image">
                <img src="assets/img/nosotros.png" alt="nosotros" class="apps__img">}
            </div>
        </div>
        
    </div>

</div>