

<div class="otros-servicios mb100" id="otros" style="display: none;">

    <div class="otros-servicios__row">

        <div class="otros-servicios__card">
            <div class="otros-servicios__card-body animate__animated animate__fadeInUp">
                <img src="assets/img/realidad-virtual.png" alt="Realidad Virtual" class="otros-servicios__img--100">
            </div>
            <div class="otros-servicios__card-footer animate__animated animate__fadeIn">
                <p>Realidad Virtual</p> 
            </div>
        </div>

        <div class="otros-servicios__card">
            <div class="otros-servicios__card-body animate__animated animate__fadeInUp animate__delay-1s">
                <img src="assets/img/dominios.png" alt="Dominios" class="otros-servicios__img--100">
            </div>
            <div class="otros-servicios__card-footer animate__animated animate__fadeIn animate__delay-1s">
                <p>Dominion y Hospedaje</p> 
            </div>
        </div>

        <div class="otros-servicios__card">
            <div class="otros-servicios__card-body animate__animated animate__fadeInUp animate__delay-2s">
                <img src="assets/img/consultoria.png" alt="Consultoria" class="otros-servicios__img--90">
            </div>
            <div class="otros-servicios__card-footer animate__animated animate__fadeIn animate__delay-2s">
                <p>Consultoría</p>
            </div>
        </div>

        <div class="otros-servicios__card">
            <div class="otros-servicios__card-body animate__animated animate__fadeInUp animate__delay-3s">
                <img src="assets/img/diseño.png" alt="Al Chile Studio" class="otros-servicios__img--100">
            </div>
            <div class="otros-servicios__card-footer animate__animated animate__fadeIn animate__delay-3s">
                <p>Al Chile studio</p>
            </div>
        </div>
        
    </div>

    <!-- SLIDER  -->
    <div class="slider__otros" id="slider_otros">
        <div class="wrapper" id="imgAbastos1">
            <div class="container">
                <div class="otros-servicios__card">
                    <div class="otros-servicios__card-body ">
                        <img src="assets/img/realidad-virtual.png" alt="Realidad Virtual" class="otros-servicios__img--100">
                    </div>
                    <div class="otros-servicios__card-footer ">
                        <p>Realidad Virtual</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper"id="imgAbastos2">
            <div class="container" >
                <div class="otros-servicios__card">
                    <div class="otros-servicios__card-body ">
                        <img src="assets/img/dominios.png" alt="Dominios" class="otros-servicios__img--100">
                    </div>
                    <div class="otros-servicios__card-footer">
                        <p>Dominion y Hospedaje</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper"id="imgAbastos2">
            <div class="container" >
                <div class="otros-servicios__card">
                    <div class="otros-servicios__card-body ">
                        <img src="assets/img/consultoria.png" alt="Consultoria" class="otros-servicios__img--90">
                    </div>
                    <div class="otros-servicios__card-footer">
                        <p>Consultoría</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper"id="imgAbastos2">
            <div class="container" >
                <div class="otros-servicios__card">
                    <div class="otros-servicios__card-body">
                        <img src="assets/img/diseño.png" alt="Al Chile Studio" class="otros-servicios__img--100">
                    </div>
                    <div class="otros-servicios__card-footer ">
                        <p>Al Chile studio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>