
<div class="apps mb100" id="paginas" style="display: none;">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__delay-1s" id="paginas-header">
                    <h2 class="apps__mini-title ">Desarrollo de</h2>
                    <h2 class="apps__title ">Páginas Web</h2>
                </div>
                <p class="apps__text">
                    Cada proyecto que realizamos es 100% personalizad, pensado en el usuario
                    final y los resultados deseados de nuestros clientes.
                </p>
                <p class="apps__text ">
                    El diseño y la programación son exclusivos para tu proyecto.
                </p>
                <p class="apps__text ">
                    Diseñamos y desarrollamos páginas web creativas de última generacion.
                </p>
            </div>
        </div>
        <div class="apps__container" id="apps__image">
            <div class="apps__image">
                <img src="assets/img/pag-web.png" alt="apps" class="apps__img">}
            <button class="buttons__proyectos color-3 impulse fullscreen-open " id="btnProyectosPaginas">VER PROYECTOS</button>
            </div>
        </div>
        
    </div>

</div>