
<section class="apps animate__animated" id="paginas" style="visibility: hidden;">

    <div class="apps__row">
        <div class="apps__container" >
            <div class="apps__content" id="apps__content">
                <h2 class="apps__title"> <span class="apps__mini-title">Desarrollo de </span> <br>  Paginas</h2>
                <p class="apps__text">
                    Cada proyecto que realizamos es 100% personalizad, pensado en el usuario
                    final y los resultados deseados de nuestros clientes.
                </p>
                <p class="apps__text ">
                    El diseño y la programación son exclusivos para tu proyecto.
                </p>
                <p class="apps__text ">
                    Diseñamos y desarrollamos páginas web creativas de última generacion.
                </p>
            </div>
        </div>
        <div class="apps__container apps__container--end" > 
            <div class="apps__image">
                <img src="assets/img/pag-web.png" alt="apps" class="apps__img">
            </div>
            <button class="buttons__proyectos color-3 impulse fullscreen-open " id="btnProyectos">VER PROYECTOS</button>
        </div>
    </div>

</section>

