
<div class="apps" id="software" style="display: none;">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__delay-1s" id="software-header">
                    <h2 class="apps__mini-title ">Desarrollo de</h2>
                    <h2 class="apps__title ">Software</h2>
                </div>
                <p class="apps__text">
                    El software a la medida es una excelente alternativa ya que se adapta
                    completamente a las necesidades y requerimientos de cada empresa sistematizando
                    los procesos para aumentar la productividad.
                </p>
                <p class="apps__text ">
                    El propósito más evidente para iniciar un proyecto de desarrollo de software
                    personalizado es traer beneficios a la empresa a traves de la mejor organización
                    de los procesos y tareas cotidianas.
                </p>
            </div>
        </div>
        <div class="apps__container">
            <div class="apps__image">
                <img src="assets/img/software.png" alt="apps" class="apps__img">}
            <button class="buttons__proyectos color-3 impulse fullscreen-open " id="btnProyectos">VER PROYECTOS</button>
            </div>
        </div>
        
    </div>

</div>