


<div class="apps mb100" id="tiendas" style="display: none;">

    <div class="apps__row">
        <div class="apps__container">
            <div class="apps__content">
                <div class="apps__header animate__animated animate__delay-1s" id="tiendas-header">
                    <h2 class="apps__mini-title ">Tiendas en</h2>
                    <h2 class="apps__title ">Línea</h2>
                </div>
                <p class="apps__text">
                    Nuestro objetivo, es desarrollar proyectos en conjunto con nuestros clientes 
                    e implementar estrategias que hagan de su tienda en línea uno de sus principales
                    puntos de venta.
                </p>
                <p class="apps__text ">
                    Tu tienda en línea permitirá mostrar tus productos y así cualquier persona podrá
                    conocer y comprar de una forma fácil y segura.
                </p>
                <p class="apps__text ">
                    Administra tu tienda facilmente...
                </p>
            </div>
        </div>
        <div class="apps__container" id="apps__image">
            <div class="apps__image">
                <img src="assets/img/tineda-en-linea.png" alt="apps" class="apps__img">}
            <button class="buttons__proyectos color-3 impulse fullscreen-open " id="btnProyectosTiendas">VER PROYECTOS</button>
            </div>
        </div>
        
    </div>

</div>