

<div class="fullscreen " id="paginas_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="proyectos__body" id="paginas_proyectos_body">

        <div class="proyectos__circles">
            <button  class="buttons__arrow" id="anteriorClientePaginas"><i class="fa-solid fa-angle-up"></i></button>
            <button  class="buttons__arrow" id="siguienteClientePaginas"><i class="fa-solid fa-angle-down"></i></button>
        </div>

        <div class="proyectos__descripcion" id="paginas_proyectos_descripcion">
            <p class="proyectos__text" id="paginas_proyectos_cliente"><span class="proyectos__text--azul">01 - CLIENTE:</span> Alchile Studio </p>
        </div>

        <div class="proyectos__imagenes animate__animated" id="paginas_imagenes">
             <img id="paginas_proyectos_img" src="assets/img/proyectos/paginas/ALCHILE.png" alt="Alchile" class="slider__img"  >
        </div>

    </div>
   
</div>
