
<div class="fullscreen proyectos__gap " id="software_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="proyectos__body" id="software_proyectos_body">
        <div class="proyectos__circles" id="vertical__arrows">
            <button  class="buttons__arrow anteriorClienteSoftware"><i class="fa-solid fa-angle-up"></i></button>
            <button  class="buttons__arrow siguienteClienteSoftware" ><i class="fa-solid fa-angle-down"></i></button>
        </div>
        <div class="proyectos__circles" id="horizontal__arrows">
            <button  class="buttons__arrow anteriorClienteSoftware" ><i class="fa-solid fa-angle-left"></i></button>
            <button  class="buttons__arrow siguienteClienteSoftware"><i class="fa-solid fa-angle-right"></i></button>
        </div>

        <div class="proyectos__descripcion" id="software_proyectos_descripcion">
            <p class="proyectos__text" id="software_proyectos_cliente"><span class="proyectos__text--azul">01 - CLIENTE:</span> SEFINSA </p>
            Software administrador de préstamos y pagos correspondientes.
        </div>

        <div class="proyectos__imagenes animate__animated" id="software_imagenes">
             <img id="software_proyectos_img" src="assets/img/proyectos/software/SEFINSA.png" alt="Mandarinas" class="slider__img"  >
        </div>

    </div>

   
    
</div>
