
<div class="fullscreen " id="tiendas_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="proyectos__body" id="tiendas_proyectos_body">

        <div class="proyectos__circles">
            <div class="proyectos__circle proyectos__circle--active" id="ikigai"></div>
            <div class="proyectos__circle" id="managermac"></div>
            <div class="proyectos__circle" id="romana"></div>
        </div>

        <div class="proyectos__descripcion" id="tiendas_proyectos_descripcion">
            <p class="proyectos__text" id="tiendas_proyectos_cliente"><span class="proyectos__text--azul">01 - CLIENTE:</span> Ikigai </p>
        </div>

        <div class="proyectos__imagenes animate__animated" id="tiendas_imagenes">
             <img id="tiendas_proyectos_img" src="assets/img/proyectos/tiendas/IKIGAI.png" alt="Ikigai" class="slider__img"  >
        </div>

    </div>
   
</div>
