/*
|   ---------------------------------------------------------------------------------
|   @Components (Buttons)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
|   This components don't belong to a specific page, view, container, etc... of your project,
|   are used globally. 
|
*/


.buttons{
    display: flex;
    top: 0;
    width: 100%;
    z-index: 99;
    justify-content: center;
    align-items: center;
}


.buttons__arrow{
    display: flex;
    width: 4rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: 400ms;
    cursor: pointer;
    height: 4rem;
}

.buttons__arrow:hover{
    background-color: white;
    color: var(--azul-200);
}

.buttons__text{
    opacity: 0;
    color: white;
    transition: 400ms;
    font-family: BakbakOneRegular;
}

.buttons__proyectos {
    width: 170px;
    height:50px;
    cursor:pointer;
    color:#fff;
    border:5px solid transparent;
    border-radius:50px;
    text-align:center;
    font-size:1rem;
    font-family: BakbakOneRegular;
    transition: .4s;

}
  
.buttons__proyectos.color-3 {
    background:
        linear-gradient(-45deg, #75c4f2 0%,  #7f4890 100%) border-box;
	/*background-size: 300%;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;*/
}

.buttons__proyectos:hover{

    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

}

@keyframes animated_text {
	0% { background-position: 0px 50%;  }
	50% { background-position: 100% 50%; box-shadow: 0 0 40px #674ed7; }
	100% { background-position: 0px 50%; }
}