/*
|   ---------------------------------------------------------------------------------
|   @Components (Buttons)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
|   This components don't belong to a specific page, view, container, etc... of your project,
|   are used globally. 
|
*/


.buttons{
    display: flex;
    position: fixed;
    top: 0;
    width: 7rem;
    height: 3rem;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;

}

.buttons__arrow{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    transition: 400ms;
    cursor: pointer;
}

.buttons__arrow:hover{
    background-color: white;
    color: var(--azul-200);
}


.buttons__proyectos {
    width: 170px;
    height:50px;
    cursor:pointer;
    color:#fff;
    border:5px solid transparent;
    border-radius:50px;
    text-align:center;
    font-size:1rem;
    font-family: BakbakOneRegular;
    transition: .4s;
}
  
.buttons__proyectos.color-3 {
    background:
        linear-gradient(-45deg, #75c4f2 0%,  #7f4890 100%) border-box;
}


/*
.contacto__button{
    outline: none;
    color: black;
    height: 3rem;
    padding: 10px;
    font-weight: bold;
    border: none;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
}*/

.buttons__proyectos:hover{
   /* background-position: 50% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-position: right center;*/
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);

}
