/*
|   ---------------------------------------------------------------------------------
|   @Components (Footer)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
|   This components don't belong to a specific page, view, container, etc... of your project,
|   are used globally. 
|
*/


.footer{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 0rem 4rem 1rem 4rem;
    height: max-content;
}

    @media screen and (min-width: 628px) and (max-width:700px) { 
        .footer{
            padding: 0rem 1rem 1rem 1rem;
        }
        
    }
    @media screen and (min-width: 310px) and (max-width: 628px) { 
        .footer{
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            padding: 0rem 1rem 1rem 1rem;
        }
    }
    @media screen and (min-width: 300px) and (max-width:700px) { 
        .footer #tag{
            display: none;
        }
        
    }

.footer__content{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.footer__text{
    font-family: BakbakOneRegular;
    color: white;
    text-decoration: none;
    text-align: center;
}

.footer__text--azul{
    color: var(--azul-100);
}

.footer__icon{
    font-size: 1.5rem;
    color: white;
}