/*
|   ---------------------------------------------------------------------------------
|   @Components (Nav)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
|   This components don't belong to a specific page, view, container, etc... of your project,
|   are used globally. 
|
*/


.nav{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 4rem 1.5rem 4rem;
}

    @media screen and (min-width: 318px) and (max-width:600px) { 
        .nav{
            justify-content: center;
        }
    }

.nav__logo{
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.nav__img{
    width: 100%;
}

.nav__lang{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: BakbakOneRegular;
    color: var(--azul-100);
    font-size: 2rem;
}

.nav__lang p{
    text-decoration: none;
    color: white;
    cursor: pointer;
}