

.navigation{
    display: flex;
    position: absolute;
    width: 3rem;
    height: 100%;
    background-color: var(--azul-300);
    right: 5rem;
    transition: 400ms;
    color: white;
    justify-content: center;
    padding-top: 2rem;
}