/*
*   ---------------------------------------------------------------------------------
*   @Components (Proyectos)
*   ---------------------------------------------------------------------------------
*   
*   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
*   This components don't belong to a specific page, view, container, etc... of your project,
*   are used globally. 
*
*/


.proyectos{
    position: relative;
    display: flex;
    background-position: center;
    /*background-size: 110% 110%;*/
    background-size: cover;
    background-color: #0c2f52dc;
    background-position: center center;
    animation: shrink 4s infinite alternate;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    flex-direction: column;
    top: 100%;
    padding: 5%;
    padding-top: 0;
    transition: top .5s;
    gap: 2rem;
}

.proyectos__header{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.proyectos__body{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    height: max-content;
}

.proyectos__circles{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 10rem;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 2rem 0 2rem;
    align-self: center;
}


.proyectos__circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.proyectos__circle--active{
    background-color: var(--azul-100);

}

.proyectos__descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-family: GothamMedium;
    color: white;
    width: fit-content;
    padding: 0 2rem 0 2rem;
    text-align: center;

}

.proyectos__imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 60%;
    /*background-image: url(../../assets/img/proyectos/apps/ABASTOS-SUPER1.png);*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*transition: background 1s linear;*/
    height: 35rem;
    transition: 1s;
}

.proyectos__imagen{
    width: 90%;
}


.proyectos__text{
    font-family: BakbakOneRegular;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

.proyectos__footer{
    display: flex;
    width: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.proyectos__text--azul{
    color: var(--azul-100);
}
