/*
|   ---------------------------------------------------------------------------------
|   @Components (Slider)
|   ---------------------------------------------------------------------------------
|   
|   In this folder you create all components (one file per component) that you will need like navs, buttons, etc...
|   This components don't belong to a specific page, view, container, etc... of your project,
|   are used globally. 
|
*/

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.slider__otros{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.slider__otros.slick-initialized {
    visibility: visible;
    opacity: 1;    
}

.wrapper{
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    object-fit: contain;
}

.wrapper .container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.slider__img{
    width: 80%;
}
