 <!--===== MATERIALIZE CSS =====-->
 <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->


<div class="fullscreen " id="apps_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="proyectos__body">
        <div class="proyectos__circles">
            <div class="proyectos__circle" id="abastos"></div>
            <div class="proyectos__circle proyectos__circle--white" id="combugasIos"></div>
            <div class="proyectos__circle proyectos__circle--white" id="digital"></div>
            <div class="proyectos__circle proyectos__circle--white" id="power"></div>
            <div class="proyectos__circle proyectos__circle--white" id="tanquesCombugas"></div>
        </div>

        <div class="proyectos__descripcion">
            Administración de unidades, operadores y control de pagos de las unidades.
        </div>

        <div class="proyectos__imagenes animate__animated" id="apps_imagenes">

            <div class="slider">
                <div class="wrapper">
                    <div class="container">
                        <img src="assets/img/proyectos/apps/ABASTOS-SUPER1.png" alt="Combugas IOS" class="slider__img">
                    </div>
                </div>
                <div class="wrapper">
                    <div class="container">
                        <img src="assets/img/proyectos/apps/ABASTOS-SUPER2.png" alt="Combugas IOS" class="slider__img">
                    </div>
                </div>
                <!--<div class="wrapper">
                    <div class="container">
                        <img src="assets/img/proyectos/apps/COMBUGAS-IOS2.png" alt="Combugas IOS" class="slider__img">
                    </div>
                </div>-->
            </div>

          

        </div>

        <!--<div class="proyectos__imagenes animate__animated" id="combugas_imagenes" style="display: none;">
        </div>-->
        <!--<div class="proyectos__imagenes animate__animated" id="combugas_ios_imagenes" style="display: none;">
            <img src="assets/img/proyectos/apps/COMBUGAS-IOS2.png"  alt="Combugas IOS" class="proyectos__imagen" id="combugas_ios_img">
        </div>
        <div class="proyectos__imagenes animate__animated" id="digital_imagenes" style="display: none;">
            <img src="assets/img/proyectos/apps/COMBUGAS-IOS2.png"  alt="Digital Company" class="proyectos__imagen" id="digital_img">
        </div>-->

    </div>

    <div class="proyectos__footer">
        <p class="proyectos__text"><span class="proyectos__text--azul">01 - CLIENTE:</span> Radio Taxis Mandarinas </p>
    </div>
    <!--<div class="fullscreen__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="fullscreen__body">
        <div class="fullscreen__content fullscreen__content--column fullscreen__content--w10 fullscreen__content--gap1">
            <div class="fullscreen__circle" id="abastos"></div>
            <div class="fullscreen__circle" id="combugasIos"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
        </div>
        <div class="fullscreen__content fullscreen__content--w20">
            Administración de unidades, operadores y control de pagos de las unidades.
        </div>
        <div class="fullscreen__content fullscreen__content--w70 img__background fadein" id="app_abastos">
            <img src="assets/img/proyectos/apps/ABASTOS-SUPER1.png"  alt="mandarinas" class="fullscreen__img" >
            <img src="assets/img/proyectos/apps/ABASTOS-SUPER2.png"  alt="mandarinas" class="fullscreen__img" >
        </div>
     
    </div>

    <div class="fullscreen__footer">
        <p class="fullscreen__text"><span class="fullscreen__text--azul">01 - CLIENTE:</span> Radio Taxis Mandarinas </p>
    </div>-->
   
</div>


<!--<div class="proyectos" id="app_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

</div>-->

<!--===== MATERIALIZE JS =====-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>-->