
<div class="fullscreen " id="apps_proyectos">

    <div class="proyectos__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="proyectos__body" id="apps_proyectos_body">
        <div class="proyectos__circles">
            <div class="proyectos__circle proyectos__circle--active" id="abastos"></div>
            <div class="proyectos__circle" id="combugasIos"></div>
            <div class="proyectos__circle" id="digital"></div>
            <div class="proyectos__circle" id="power"></div>
            <div class="proyectos__circle" id="tanquesCombugas"></div>
        </div>

        <div class="proyectos__descripcion" id="apps_proyectos_descripcion">
            <p class="proyectos__text" id="apps_proyectos_cliente"><span class="proyectos__text--azul" >01 - CLIENTE:</span> Abastos Super </p>
        </div>

        <div class="proyectos__imagenes animate__animated" id="apps_imagenes">

            <div class="slider" id="slider_abastos">
                <div class="wrapper" id="imgAbastos1">
                    <div class="container">
                        <img src="assets/img/proyectos/apps/ABASTOS-SUPER1.png" alt="Abastos" class="slider__img" >
                    </div>
                </div>
                <div class="wrapper"id="imgAbastos2">
                    <div class="container" >
                        <img src="assets/img/proyectos/apps/ABASTOS-SUPER2.png" alt="Abastos" class="slider__img" >
                    </div>
                </div>
            </div>

        </div>

    </div>
    
</div>

