<div class="fullscreen fullscreen--dark fullscreen--left fullscreen__gradient" id="menu">
    <div class="fullscreen__header">
        <button class="fullscreen__close-button animate__animated animate__faster menu-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="fullscreen__body fullscreen__body--center " id="menuBg" >
        <a  class="fullscreen__link" id="nosotros_link">Nosotros</a>
        <a  class="fullscreen__link" id="software_link">Software</a>
        <a  class="fullscreen__link" id="apps_link">Apps Móviles</a>
        <a  class="fullscreen__link" id="tiendas_link">Tiendas en línea</a>
        <a  class="fullscreen__link" id="paginas_link">Páginas web</a>
        <a  class="fullscreen__link" id="otros_link">Otros servicios</a>
        <a  class="fullscreen__link" id="contacto_link">Contacto</a>


        <!--<div class="fullscreen__content fullscreen__content--column fullscreen__content--w10 fullscreen__content--gap1">
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
        </div>
        <div class="fullscreen__content fullscreen__content--w20">
            Administración de unidades, operadores y control de pagos de las unidades.
        </div>
        <div class="fullscreen__content fullscreen__content--w70">
            <img src="assets/img/mandarinas.png" alt="mandarinas" class="fullscreen__img">
        </div>-->
    </div>
   
</div>