<div class="fullscreen" id="fullscreen">
    <div class="fullscreen__header">
        <button class="fullscreen__close-button animate__animated animate__faster fullscreen-close">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>

    <div class="fullscreen__body">
        <div class="fullscreen__content fullscreen__content--column fullscreen__content--w10 fullscreen__content--gap1">
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
            <div class="fullscreen__circle"></div>
        </div>
        <div class="fullscreen__content fullscreen__content--w20">
            Administración de unidades, operadores y control de pagos de las unidades.
        </div>
        <div class="fullscreen__content fullscreen__content--w70">
            <img src="assets/img/mandarinas.png" alt="mandarinas" class="fullscreen__img">
        </div>
    </div>

    <div class="fullscreen__footer">
        <p class="fullscreen__text"><span class="fullscreen__text--azul">01 - CLIENTE:</span> Radio Taxis Mandarinas </p>
    </div>
   
</div>